# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YWRhcHRlZC10YWhyLTMuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_IvQdOmFD7fqhoD7ual7B3KAVt8lKc9FUkTmSIikc6R
# Clerk Redirect Logic
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/book
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/book

# Backend Synergy Routes
NEXT_PUBLIC_API_URL=https://gangster-barber-backend.vercel.app
NEXT_PUBLIC_PAYNOW_URL=https://gangster-barber-paynow.vercel.app
